@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Josefin+Slab:wght@400;700&display=swap');
/*
https://codepen.io/leenalavanya/pen/mPWdPZ
*/
body{
    background:#224F6D;
    color: white;
    margin:0;
    text-align: center;
    font-family: 'Josefin Slab', sans-serif;
}
h1 {
    font-family: 'Amatic SC', cursive;
    padding:10px;
    font-size: xx-large;
}

h2 {
    font-family: 'Josefin Slab', sans-serif;
    color: white;
    font-weight: 700;
    font-size: x-large;
}

a{
    font-family: 'Josefin Slab', sans-serif;
    color: white;
    text-decoration: none;
    text-decoration: underline;
    text-decoration-color: #710C27;
}
a:hover{
    background-color: #710C27;
}
p{
    font-size: larger;
}
ul{
    list-style-type: none;
    font-size: larger;
    clear: left;
    padding: 0;
}
li{
    padding-bottom:10px;
}

.titleImg{
    width:75%;
    margin-left:5px;
    margin-right:5px;
}

.infodiv{
    float: left;
    width: 40%;
    margin: auto;
    padding:0;
}

.imgdiv {
    float: left;
    width: 50%;
    margin: auto;
    padding:0;
}

.imgdiv img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.infodiv h1{
    background-color: #710C27;
    color: white;
    margin:0;
    box-shadow: 0 5px 10px rgba(8,40,61,1);

    background: rgb(21,7,9);
background: linear-gradient(90deg, rgba(21,7,9,1) 0%, rgba(113,12,39,1) 50%, rgba(152,90,111,1) 100%);
}

  .header {
    /*background-color: #224F6D;*/
    background: rgb(34,79,109);
    background: linear-gradient(0deg, rgba(34,79,109,1) 35%, rgba(8,40,61,1) 100%);
    color: white;
  }

  #titleFlower{
    max-width: 500px;
    max-height: 100%;
    display: block;
    margin: auto;
    height: auto;
  }