body{
	background:grey;
	font-family: "Verdana", sans-serif;
}
div.outer{
	background:white;
	text-align:center;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	margin:10px 10%;
	padding: 10px;
}
.output{
	background:white;
	text-align:center;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	margin:10px 10%;
	padding: 10px;
}
input{
	margin: auto 10px auto 0;
}
button{
	margin: auto 0 auto 10px;
}